@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
Font Names

font-family: "HelveticaNueue-Thin", serif;
font-family: "Open Sans", serif;
font-family: "Futura", serif;

*/

/*
Color Names

White:
	#FCFDFD
Dark Gray:
	#474747
Bright green:
	#21C293
Darker Green:
	#399C7D
Lighter Green: 
	#8BCF62
Yellow:
	#F8CB43
Orange:
	#F97C2C
Light Blue:
	#87B6D8
Bright Blue:
	#71D0D7
Purple;
	#6E88FF
*/


/*General*/
#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*General-menu*/
#menu {
	width: 100%;
	height: 250px;
	background-color: #21C293;
	font-family: "Futura", serif;
	font-size: 800%;
	color: #FCFDFD;

	flex-wrap: nowrap;
	padding-top: 100px;
	margin-bottom: 100px;
}

#menu-home {
	height: 100px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#menu-profile {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#menu-back {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/*general-text*/
.greeting {
	font-family: "Futura-Medium";
	font-size: 900%;
	color: #474747;
	margin-left: 15%;
	margin-bottom: 100px;
}

.greeting2 { 
	font-family: "HelveticaNeue-Thin", serif;
	font-size: 600%;
	text-align: center;
	color: #474747;
	margin-left: 15%;
	margin-right: 15%;
}

.greeting3{
	font-family: "HelveticaNeue", serif;
	font-size: 400%;
	text-align: center;
	color: #474747;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 30px;

}

.orange-button a:link,
.orange-button a:visited,
.orange-button a:hover
.orange-button, .button{
	font-family: "Open Sans", serif;
	background-color: #F97C2C;
	color: #FCFDFD;
	font-size: 600%;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #F97C2C;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	margin-bottom: 75;
}

.signout-button a:link,
.signout-button a:visited,
.signout-button a:hover
.signout-button, .button{
	color: #474747;
	font-size: 500%;
	text-align: center;
	font-family: "Futura", serif;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #474747;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
	margin-bottom: 75;
}

/*general-profile*/
.profile-image {
	width: 500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-text {
	font-family: "Futura", serif;
	font-size: 75px;
	display: inline;
	margin-left: 10%;

}

.profile-text-insert {
	font-family: "HelveticaNeue", serif;
	font-size: 60px;
	display: inline;

}


/*Login_Page*/
#login-background {
	background: linear-gradient(180deg, #F8CB43 20%, #71D0D7 20%);
	background-repeat: no-repeat;
	background-attachment:fixed;
}

#login-welcome{
	font-family: "Futura", serif;
	font-size: 500%;

}

#login-aminals{
	font-family: "Futura", serif;
	color: #FCFDFD;
	font-size: 1000%;

}

#login-image{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#input{
	font-size: 250%;
	color: #474747;
	font-family: "Helvetica", serif;
	margin-left: 25%;
	display: inline-block;
	
}

#user-name-text{
	margin-left: auto;
	margin-right: auto;
    padding: 0;
   	font-family: "Futura", serif;
   	color: #FCFDFD;
   	font-size: 100px;

}

#user-name {
	width: 100%;
	height: 100px;
}

input[type=text] {
	font-family: "HelveticaNueue", serif;
	font-size: 50px;
	color: #474747;

}

.login-button a:link,
.login-button a:visited,
.login-button a:hover
.login-button, .button{
	color: #FCFDFD !important;
	font-size: 800% !important;
	text-align: center !important;
	font-family: "Futura", serif !important;
	text-decoration: none !important;

	border-style: solid !important;
	border-width: 20px !important;
	border-radius: 30px !important;
	border-color: #FCFDFD !important;

	padding-left: 100px !important;
	padding-right: 100px !important;
	padding-top: 50 !important;
	padding-bottom: 50 !important;

	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 100px !important;
	margin-bottom: 75 !important;
}

.border-button {
	color: 	#FCFDFD !important;
	background-color: #474747;
	font-size: 80% !important;
	text-align: center !important;
	font-family: "Futura", serif !important;
	text-decoration: none !important;

	border-style: solid !important;
	border-width: 20px !important;
	border-radius: 30px !important;
	border-color: #474747 !important;

	padding-left: 100px !important;
	padding-right: 100px !important;
	padding-top: 50 !important;
	padding-bottom: 50 !important;

	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 100px !important;
	margin-bottom: 75 !important;
}

/* Therapist Home */ 
.therapist-home-button a:link,
.therapist-home-button a:visited,
.therapist-home-button a:hover
.therapist-home-button, .button{
	font-family: "Open Sans", serif;
	background-color: #6E88FF;
	color: #FCFDFD;
	font-size: 600%;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 75;
}

.therapist-home-icon{
	height: 10%;
}



/* Client Home */

#hungry-image {
	width: 50%;
	align-items: center !important;
	margin-left:  20% !important;
	margin-right: 20% !important;
}

/* signup */
.signup { 
	font-family: "HelveticaNeue-Thin", serif;
	font-size: 600%;
	color: #474747;
	margin-left: 5%;
	margin-right: 5%;
}

#gender-icon {
	width: 100px;
	height: 100px;
}

#acc-type,
#gender{
	margin-left: 20%;
}


/*client status*/
.eval-button a:link,
.eval-button a:visited,
.eval-button a:hover
.eval-button, .button{
	font-family: "Open Sans", serif;
	background-color: #6E88FF;
	color: #FCFDFD;
	font-size: 600%;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 75;
}

/*client list */
#add-client-icon{
	width: 100px;
	height: 100px;
	margin-left: 80%;
}