/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJh1Zyc61YA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat Alternates ExtraLight'), local('MontserratAlternates-ExtraLight'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xJIbFB7xG-GNxkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0566fQKp5L0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat Alternates ExtraBold'), local('MontserratAlternates-ExtraBold'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xTIHFB7xG-GNxkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwOIpWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofA-seUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofAksCUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofAtsGUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
Font Names

	font-family: "HelveticaNeue-Thin", serif;
font-family: "Open Sans", serif;
font-family: "Futura", serif;

*/

/*
Color Names

White:
	#FCFDFD
Dark Gray:
	#474747
Bright green:
	#21C293
Darker Green:
	#399C7D
Lighter Green:
	#8BCF62
Yellow:
	#F8CB43
Orange:
	#F97C2C
Light Blue:
	#87B6D8
Bright Blue:
	#71D0D7
Purple;
	#6E88FF
*/


/*General*/

/*icons*/
#sleep-icon {
	height: 100px !important;
	width: 800px ;
}

#family-icon {
	height: 90px !important;
	width: 700px !important;
}

.eval-title {
	display: inline-block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.eval-label {
	flex-wrap: nowrap !important;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px !important;
	margin-left: 10%;
	margin-right: 10%;
	height: 150px !important;
	width: 450px !important;

	background-color: #e8ebfc;
}

.select-evaluations{
	align-items: center !important;
}

#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.agree-icon {

}

.survey-label {
	flex-wrap: nowrap !important;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-left: 30px !important;
	margin-left: 10%;
	margin-right: 10%;
	height: 150px !important;
	width: 650px !important;
    font-family: 'Montserrat Alternates';
    font-weight: 200;

	border-style: solid;
	border-width: 10px;
	border-radius:30px;
	border-color:  #e9eafc;

	background-color:  #e9eafc;
}

input[type=button]{
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 50px;
	color: 	#FCFDFD;
	background-color: #399C7D;
	border-style: solid;
	border-width: 10px;
	border-radius:30px;
	border-color: #399C7D;

}

input[type=radio]{
	margin-bottom: 5px;
	margin-top: 5px;
	/*visibility: hidden;*/ /* CHANGE MADE BY ALLY */
    font-family: 'Raleway';
    visibility: hidden; //POTENTIAL ERR

	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border: none;
}

input[type=radio]:checked + label{
    color: #FCFDFD;
	background-color: #474747;
	border: none;
}

input[type=checkbox]{
	visibility: hidden;
}

input[type=checkbox]:checked + label{
    color: white;
    background-color: #474747;
}

label {
    font-family: 'Montserrat Alternates';
	color: #474747;

	border-radius: 30px;

	padding-left: 15px;
	padding-right: 15px;
}

input[type=text], input[type=email] {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #474747;
	margin-right: 20px;
	width: auto!important;
}

/*General-menu*/
#menu-row {
	align-items: center !important;
	text-align: center !important;
	justify-content: center !important;
	margin-left: auto !important;
	margin-right: auto !important;		

	flex-wrap: nowrap !important;
}

.col-sm-4 {
  margin-top: 40px;

}

#menu {
	width: 100%;
	height: 230px;
	background-color: #21C293;
	font-family: "Montserrat Alternates";
	font-weight: 400 !important;
	font-size: 100px;
	color: #FCFDFD;

	flex-wrap: nowrap;
	align-items: center !important;
	text-align: center !important;
	justify-content: center !important;
	margin-left: auto !important;
	margin-right: auto !important;		
}

#menu-home {
	height: 120px;
	width: auto;

	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-top: 15px;
}

#menu-profile {
	height: 100px;
	width: auto;

	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

#menu-back {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*general-text*/
.greeting {
    font-family: 'Nunito';
	font-weight: 800;
	font-size: 90px;
	color: #474747;

	margin-bottom: 100px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
}

.greeting2 {
    font-family: 'Raleway';
    font-weight: 400;
	font-size: 65px;
	text-align: center;
	color: #474747;
	margin-left: 15%;
	margin-right: 15%;
}

.greeting3{
    font-family: 'Raleway';
    font-weight: 200;
	font-size: 55px;
	text-align: center;
	color: #474747;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	padding-top: 30px;
}

.greeting4{
	font-family: "Raleway";
	font-size: 65px;
	text-align: center;
	color: #474747;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	padding-top: 30px;
}

.orange-button a:link,
.orange-button a:visited,
.orange-button a:hover
.orange-button, .button{
    font-family: 'Nunito';
    font-weight: 800;
	background-color: #F97C2C;
	color: #FCFDFD;
	font-size: 60px;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #F97C2C;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	margin-bottom: 75;
}

.signout-button a:link,
.signout-button a:visited,
.signout-button a:hover,
.signout-button{
	width: 300px;
	color: #474747;
	font-size: 300%;
	text-align: center;
    font-family: 'Nunito';
    font-weight: 900;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #474747;

	padding-top: 20px;
	padding-bottom: 20px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 75;
}

/*general-profile*/
.profile-image {
	width: 500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-text {
    font-family: 'Montserrat Alternates';
    font-weight: 800;
	font-size: 75px;
	display: inline;
	margin-left: 10%;

}

.profile-text-insert {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 60px;
	display: inline;

}


.select {
	background-color: #474747 !important;
	font-size: 500% !important;
}

/*Login_Page*/
#login-background {
	background: linear-gradient(180deg, #F8CB43 20%, #71D0D7 20%);
	background-repeat: no-repeat;
	background-attachment:fixed;
}

#login-welcome{
    font-family: 'Nunito';
    font-weight: 800;
	font-size: 500%;

}

#login-aminals{
    font-family: 'Montserrat Alternates';
    font-weight: 800;
	color: #FCFDFD;
	font-size: 1000%;

}

#login-image{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#input{
	font-size: 250%;
	color: #474747;
    font-family: 'Raleway';
	margin-left: 25%;
	display: inline-block;

}

#user-name-text{
	display: block;
	margin-left: auto;
	margin-right: auto;
    padding: 0;
   	font-family: "Nunito", serif;
   	font-weight: 200;
   	color: #FCFDFD;
   	font-size: 100px;

}

#user-name {
	width: 100%;
	height: 100px;
	border: none;
}

.login-button {
	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;
	background-color: 	#71D0D7;
   	font-family: "Nunito", serif;
   	font-weight: 900;
	font-size: 60px;
	color: white;

	margin-top: 50px;
	display: block!important;
	margin-left: auto;
	margin-right:auto;

}

.signup-button {
	background-color: 	#71D0D7;
   	font-family: "Nunito", serif;
   	font-weight: 400;
	font-size: 45px;
	color: white;
	outline: none;
	border: none;
	margin-top: 20px;
	display: block!important;
	margin-left: auto;
	margin-right:auto;

	text-decoration: underline;

}

input[type=text] {
    font-family: 'Montserrat Alternates';
	font-size: 50px;
	color: #474747;
}

.login-button a:link,
.login-button a:visited,
.login-button a:hover
.login-button, .button{
	color: #FCFDFD !important;
	font-size: 800% !important;
	text-align: center !important;
   	font-family: "Nunito", serif;
   	font-weight: 900;
	text-decoration: none !important;

	border-style: solid !important;
	border-width: 20px !important;
	border-radius: 30px !important;
	border-color: #FCFDFD !important;

	padding-left: 100px !important;
	padding-right: 100px !important;
	padding-top: 50 !important;
	padding-bottom: 50 !important;

	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 100px !important;
	margin-bottom: 75 !important;
}

.border-button {
	color: 	#FCFDFD !important;
	background-color: #474747;
	font-size: 80% !important;
	text-align: center !important;
   	font-family: "Nunito", serif;
   	font-weight: 900;
	text-decoration: none !important;

	border-style: solid !important;
	border-width: 20px !important;
	border-radius: 30px !important;
	border-color: #474747;

	padding-left: 100px !important;
	padding-right: 100px !important;
	padding-top: 50 !important;
	padding-bottom: 50 !important;

	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 100px !important;
	margin-bottom: 75 !important;
}

/* Therapist Home */
#list-icon{
	height: 100px;
	width: auto;
}

#star-icon{
	height: 100px;
	width: auto;
}

.therapist-home-button a:link,
.therapist-home-button a:visited,
.therapist-home-button a:hover
.therapist-home-button, .button{
    font-family: 'Montserrat Alternates';
    font-weight: 400;
	font-size: 45px;
	text-decoration: none;
	color: #FCFDFD;
	width: 1000px;
	padding-left: 25px;
	display: block!important;
	text-align: center !important
}


.therapist-home-button{
	display: flex;
	flex-wrap: nowrap !important;
	align-items: center!important;
	justify-content: flex-end;
	background-color: #6E88FF;
	color: #FCFDFD;

	width: 700px !important;
	border-radius: 30px;

	padding-left: 50px!important;
	padding-right: 80px;
	padding-top: 30px !important;
	padding-bottom: 30px !important;

	margin-bottom: 50px;
	margin-top: 100px;
}

.therapist-home-icon{
	height: 100px;
}



/* Client Home */
#home-hungry{
	display: none;
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;	
}

#home-full {
	display: none;
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#hungry-image {
	width: 800px !important;
	height: auto !important;}

#full-image{
	width: 800px !important;
	height: auto !important;
}

img.animated-gif {

}

/* sign-up */
.signup {
    font-family: 'Montserrat Alternates';
    font-weight: 200;
	font-size: 400%;
	color: #474747;
	margin-left: 5%;
	margin-right: 5%;
	border: none;
}

.gender-icon {
	width: auto;
	height: 200px;
}

#acc-type,
#gender{
	margin-left: 20%;
}


/*client status/eval*/
.eval-button a:link,
.eval-button a:visited,
.eval-button a:hover
.eval-button, .button{
    font-family: 'Montserrat Alternates';
    font-weight: 900;
	background-color: #6E88FF;
	color: #FCFDFD;
	font-size: 50px;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 75;
}

/*client-list */
#add-client-icon{
	width: 150px;
	height: 150px;
	margin-top: 10%;
	margin-left: 80%;
}

#client-names{
}

.client-name{
    font-family: 'Nunito';
    font-weight: 800;
	display: block !important;
	margin-left: auto;
	margin-right:auto;

	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 80px;
}

.client-name img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

/*adding client page*/
.adding-client {
    font-family: 'Nunito';
    font-weight: 200;
	font-size: 400%;
	color: #474747;
	margin-left: 5%;
	margin-right: 5%;
}

#addClient {
	font-family: 'Nunito';     
	font-weight: 800;
	background-color: #7CCC70;
	color: #FCFDFD;
	font-size: 100%;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 75;
}


/*survey*/
.general-q {
	font-size: 46px;
    font-family: 'Raleway';
    font-weight: 400;

    display:block;
    align-items: center;
    text-align: center;
}

#error-survey {
	color: red;
	display: none;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: auto!important;
	margin-right: auto !important;
}

.finish-survey {
    font-family: 'Nunito';
    font-weight: 800;
	background-color: #7CCC70;
	color: #FCFDFD;
	font-size: 100%;
	text-align: center;
	text-decoration: none;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 30px;

	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 75;
}

#fed_cat {
	width: 800px !important;
	height: auto !important;

	display: none;
	margin-left: auto;
	margin-right: auto;
}

.survey-title {
	/*display: block !important;*/ /* CHANGE MADE BY ALLY */
	margin-left: auto;
	margin-right: auto;

	text-align: center !important;

}


/*doc-search*/
.specialty {
	font-size: 50px!important;
	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;
}


/*eval-selection*/
#change-evals{
	font-size: 50px !important;
}


/*client-profile*/
.client-eval-icon {
	height: 50px;
	width: auto;

	padding-right: 50px;
}

#list-of-evals {
	align-items: center !important;
}

.assigned-evals a:link,
.assigned-evals a:visited,
.assigned-evals a:hover,
.assigned-evals{
    font-family: 'Montserrat Alternates';
    font-weight: 400;
	background-color: #6E88FF;
	color: #FCFDFD;
	font-size: 50px;
	text-align: center;
	text-decoration: none;

	width: 500px;

	border-style: solid;
	border-width: 20px;
	border-radius: 30px;
	border-color: #FCFDFD;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 75;

	align-content: flex-start;
}

/*doc-search*/
#parent-content-placeholder {

	font-size: 50px;
	text-align: center;
    font-family: 'Raleway';

}

#content-placeholder{
	padding-top: 100px;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

td {
	padding-left: 50px;
	padding-right: 50px;
	size: 50%;
}

td img {
	width: 300px !important;
	height: auto !important;
}

tr {
	margin-bottom: 500px !important;
}

thead {
	padding-top: 50px !important;
    font-family: 'Nunito';  
	font-size: 70px !important;
	color: #474747;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 50px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
